body {
  margin: 0;
  text-align: center;
}
h1 {
  margin-top: 0;
}
.top-container {
    background-color: #8FD9A8;
}
.middle-container {
  background-color: red;
  width: 200px;
  height: 200px;
}
.bottom-container {
  background-color: blue;
  width: 200px;
  height: 200px;
}
.pro {
  text-decoration: underline;
}
